body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    overflow: hidden; /* Evitar el desplazamiento */
}

h1 {
    margin: 20px;
    font-size: 24px;
    color: #333;
}

#map-container {
    position: relative;
    width: 100%;
    max-width: 1200px; /* Ajustar según tu preferencia */
    height: auto;
}

#map {
    width: 100%;
    height: auto;
}

#her-face, #my-face {
    position: absolute;
    width: 4vw; /* Usar unidades relativas al ancho de la ventana */
    height: 4vw; /* Usar unidades relativas al ancho de la ventana */
    border-radius: 50%;
}

/* Media queries para ajustar en dispositivos móviles */
@media (max-width: 768px) {
    h1 {
        font-size: 20px;
    }

    #her-face, #my-face {
        width: 6vw; /* Ajustar el tamaño de la imagen en dispositivos móviles */
        height: 6vw;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 18px;
    }

    #her-face, #my-face {
        width: 8vw; /* Ajustar el tamaño de la imagen en dispositivos móviles */
        height: 8vw;
    }
}
